
@media only screen  and (max-width: 576px){
    .dashboard_container {
        grid-template-columns: repeat(1, 1fr);
    }


    .plan_pay_container {
        flex-direction: column;
        gap: 20px;
    }
    .live_sp_container {
        grid-template-columns: repeat(1, 1fr);
    }

    /* =============  */
    footer{
        margin-top: 10px;
    }

    .footerTop  input{
        display: none;
    }


    /* ==============  */
    .helloBeby {
        grid-template-columns: repeat(1,1fr);
        padding: 7px;
        
    }
    .client_img_container {
        width: 40%;
        margin: auto;
    }
    /* footer bottom */
    .footer_bottom_container {
        grid-template-columns: repeat(1, 1fr);
    }
    /* =========== */

    nav ul {
        display: flex;
        flex-direction: column;
        gap: 22px;
    }
    .banner_container{
        grid-template-columns: repeat(1, 1fr);
    }
    .banner_img {
        width: 369px;
        margin-top: 46px;
    }
}
@media only screen  and (min-width: 577px) and (max-width: 993px){
    body{
        /* background-color: rgb(21, 14, 14); */
    }
    .plan_pay_container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 25px;
    }
    .live_sp_container {
        grid-template-columns: repeat(1, 1fr)
    }
    .img_container {
        width: 95%;
        margin: 0 auto;
    }
    .helloBeby {
        grid-template-columns: repeat(2,1fr);
        padding: 7px;
        
    }

    /* footerBottom  */
    .footer_bottom_container {
        grid-template-columns: repeat(2, 1fr);
    }
    .footerTop{
        flex-wrap: wrap;
        /* height: max-content; */
        height: 100px;
       }
       .footerTop input{
        background-color:#ffff;
        width: 200px;
    }
    /* 
     */
     .dashboard_container {
        grid-template-columns: repeat(2, 1fr);
    }

    /*  */
    .list_menu,.info_right{
        /* display: none;  */
        
    }
}

@media only screen and (max-width: 800px) {
    nav {
        grid-template-columns: 1fr;
        background-color: orange;
        padding: 15px;

    }
    nav ul li a {
        text-decoration: none;
        border: 1px solid black;
        padding: 0 10px;
        color: black;
    }
}