
@media only screen  and (max-width: 576px){
    .plan_pay_container {
        flex-direction: column;
        gap: 20px;
    }
    .live_sp_container {
        grid-template-columns: repeat(1, 1fr);
    }

    /* =============  */
    footer{
        margin-top: 10px;
    }

    .footerTop {
        display: none;
    }


    /* ==============  */
    .helloBeby {
        grid-template-columns: repeat(1,1fr);
        padding: 7px;
        
    }
    .client_img_container {
        width: 40%;
        margin: auto;
    }
    /* footer bottom */
    .footer_bottom_container {
        grid-template-columns: repeat(1, 1fr);
    }
    /* =========== */
}
@media only screen  and (min-width: 577px) and (max-width: 993px){
    body{
        /* background-color: rgb(21, 14, 14); */
    }
    .plan_pay_container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 25px;
    }
    .live_sp_container {
        grid-template-columns: repeat(1, 1fr)
    }
    .img_container {
        width: 95%;
        margin: 0 auto;
    }
    .helloBeby {
        grid-template-columns: repeat(2,1fr);
        padding: 7px;
        
    }

    /* footerBottom  */
    .footer_bottom_container {
        grid-template-columns: repeat(2, 1fr);
    }
    .footerTop{
        flex-wrap: wrap;
        /* height: max-content; */
        height: 100px;
       }
       .footerTop input{
        background-color:#ffff;
        width: 200px;
    }
}