body{
    /* background-color: red;  */
}
.live_sp_container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.img_container{
    max-width: 500px;
}
.img_container img{
    width: 100%
}
.title_live{
    font-size: 2.5rem;
    font-weight: bolder;

}
.title_live + p{
    font-weight: bold;
    font-style:italic;
}

.common_btn_container{
    display: flex;
}

.btn_red , .btn_black,.read_more{
    width: 100%;
    background-color: rgb(222, 23, 49);
    color: rgb(249, 249, 249);
    outline: none;
    padding: 15px 4px;
    border: none;
    font-weight: 600;
    
    margin: 20px 0;
}
.btn_black{
    background-color: black
}
.read_more{
 width: 150px;
 background-color: black;
 border-radius: 15%;
}
.read_more:hover{
    background-color: rgba(255, 0, 0, 0.78);
    cursor: pointer;
   
}

/* ==================================== */
.Tariffs_container{
    background-color: black;
    padding: 10px;
}
.plan_pay_container{
    display: flex;
    border: 2px solid;
    justify-content: space-around;
}
.pay_title {
    font-size: 2rem;
    color: red;
    font-weight: 700;
}

.plan{
    color: #0f0808;
    font-weight: 600;
    font-size: 2.5rem;
    color: white;
}

.plan_text{
    color: white;
    padding: 23px;
    /* width: 467px; */
}
.internet{
color: black;
font-weight: bold;
background-color: red;
}

.internet + h2{
color: red;
font-weight: bold;
font-size: 2rem;
}
.internet + h2+h3{
color: red;
font-weight: bold;
font-size: 2rem;
}
.loremSpan{
    padding: 10px;
}
.pay_content_info {
    background-color: rgb(115 79 60);
    text-align: center;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.pay_content_info h1{
    /* background-color: red; */
} 
.pay_content_info:hover{
    background-color: whitesmoke;
    color: black;

}

.pay_content_info:hover .internet{
    background-color: green;
    transition: 500ms;
    color: whitesmoke;
}

.button_color {
    color: white;
    background: #3f51b5;
    padding: 10px 47px;
    border-radius: 16px;
    margin-bottom: -20px;
    outline: none;
    border: navajowhite;
    font-size: 1rem;
    cursor: pointer;
}
